<div [@routerTransition]>
  <app-page-header [heading]="'Media'" [icon]="'fa-file-image-o'"></app-page-header>

  <div class="card bg-light mb-3">
    <div class="card-header">
      <button class="btn btn-primary pull-right" (click)="createNewAlbum()">Neuer Album erstellen</button>
    </div>

    <div class="card-body">
      <div class="no-content text-muted text-center p-10" *ngIf="albums && albums.length === 0">
        <h3>Kein Album vorhanden.</h3>
      </div>

      <div class="row albums-holder" *ngIf="albums && albums.length > 0">

        <div class="col-lg-2 col-md-2 col-sm-4 card album-item" *ngFor="let album of albums; let i = index;">
          <div class="btns-holder">
            <button class="btn btn-sm tpz-edit-btn text-white" (click)="updateAlbum(album, i)"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-sm tpz-edit-btn text-white" (click)="deleteAlbum(album, i)"><i class="fa fa-trash"></i></button>
          </div>
          <a class="card-img-top text-center album-icon text-primary" [routerLink]="['detail', album.id]" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-folder-open"></i>
          </a>
          <div class="card-body p-0" [routerLink]="['detail']" [routerLinkActive]="['router-link-active']">
            <p class="card-title text-bold text-center">{{album.categoryName}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
