<div [@routerTransition]>
  <app-page-header [heading]="'Retaurant Overview'" [icon]="'fa-th-list'"></app-page-header>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card bg-light mb-3">
        <div class="card-header"><b>Allgemeine Informationen</b></div>
        <div class="card-body">
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card bg-light mb-3">
        <div class="card-header"><b>Contact</b></div>
        <div class="card-body">
        </div>
      </div>

      <div class="card bg-light mb-3">
        <div class="card-header"><b>Order Region</b></div>
        <div class="card-body">
        </div>
      </div>

      <div class="card bg-light mb-3">
        <div class="card-header"><b>open time</b></div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>
