<div [@routerTransition]>
  <app-page-header [heading]="'Order'" [icon]="'fa-shopping-cart'"></app-page-header>
  <div class="row">
    <div class="col-12">
      <div class="card bg-light mb-3">
        <div class="card-body justify-content-center">
          <div class="row justify-content-center">
            test
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div [ngClass]="{'col-6': selectedOrder, 'col-12': !selectedOrder}">
      <div class="card bg-light mb-3">
        <div class="card-body">
          <div class="no-content text-muted text-center p-10" *ngIf="orders.length === 0">
            <h3>Kein Bestellung vorhanden.</h3>
          </div>
          <div class="row justify-content-center" *ngIf="orders.length > 0">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Number</th>
                <th>Status</th>
                <th>Number of Item</th>
                <th>Total price</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders; let i = index;" (click)="selectedOrder = order" [ngClass]="{'table-active': selectedOrder && selectedOrder.id === order.id}">
                  <td>{{order.orderNumber}}</td>
                  <td>{{order.status}}</td>
                  <td>{{order.lines.length}}</td>
                  <td>34.56</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" *ngIf="selectedOrder">
      <div class="card bg-light mb-3">
        <div class="card-header">Bestellung {{selectedOrder.orderNumber}} in Detail</div>
        <div class="card-body">
          <div class="row justify-content-center">
            <table class="table table-hover table-striped">
              <thead>
              <tr>
                <th>Page</th>
                <th>Visits</th>
                <th>% New Visits</th>
                <th>Revenue</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>/index.html</td>
                <td>1265</td>
                <td>32.3%</td>
                <td>$321.33</td>
              </tr>
              <tr>
                <td>/about.html</td>
                <td>261</td>
                <td>33.3%</td>
                <td>$234.12</td>
              </tr>
              <tr>
                <td>/sales.html</td>
                <td>665</td>
                <td>21.3%</td>
                <td>$16.34</td>
              </tr>
              <tr>
                <td>/blog.html</td>
                <td>9516</td>
                <td>89.3%</td>
                <td>$1644.43</td>
              </tr>
              <tr>
                <td>/404.html</td>
                <td>23</td>
                <td>34.3%</td>
                <td>$23.52</td>
              </tr>
              <tr>
                <td>/services.html</td>
                <td>421</td>
                <td>60.3%</td>
                <td>$724.32</td>
              </tr>
              <tr>
                <td>/blog/post.html</td>
                <td>1233</td>
                <td>93.2%</td>
                <td>$126.34</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
